---
import Default from "@astrojs/starlight/components/Footer.astro";
import { Image } from "astro:assets";
import shellyChelAvif from "../../assets/images/shelly-chel.avif";

const { siteTitle } = Astro.locals.starlightRoute;

const links = [
  {
    title: "Blog",
    href: "/blog",
  },
  {
    title: "GitHub",
    href: "https://github.com/Seafoam-Labs",
  },
  {
    title: "Contact",
    href: "mailto:developers@seafoamlabs.org",
  },
];
---

<Default><slot /></Default>

<div
  class="mt-12 flex flex-col items-center justify-between border-t border-(--sl-color-gray-6) pt-8 text-(length:--sl-text-sm) text-(--sl-color-gray-3) sm:mt-16 sm:flex-row sm:justify-center sm:pt-12"
>
  <span class="mt-6 mb-2 sm:mt-auto sm:mb-auto"
    >© {new Date().getFullYear()} {siteTitle}</span
  >
  <a
    class="order-last text-center text-(--sl-color-gray-5) select-none sm:order-0 sm:mx-6"
    href={shellyChelAvif.src}
  >
    <Image
      class="inline-block rounded-full text-transparent"
      src={shellyChelAvif}
      alt="Shelly Chel"
      height={48}
      width={48}
      layout="fixed"
    />
  </a>
  <nav class="order-first flex flex-wrap gap-x-2 sm:order-0">
    {
      links.map((link, index) => (
        <>
          {index === 0 ? (
            ""
          ) : (
            <span class="text-(--sl-color-gray-5) select-none">·</span>
          )}
          <a
            class="text-(--sl-color-accent) no-underline hover:underline"
            href={link.href}
          >
            {link.title}
          </a>
        </>
      ))
    }
  </nav>
</div>
